* {
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
  text-align: left;
  margin: 0;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.container-fixed {
  width: 1440px;
  margin: 0 auto;
}

.container {
  width: 1120;
  margin: 0 auto;
  text-align: center;
}

h1 {
  margin: 0 !important;
}

body {
  background-color: #355464;
}

/* .logo {
  margin: 2px 2px 2px 2px;
} */

.main {
  display: flex;
  background-color: #001628;
  width: 100%;
  height: 650px;
  margin-bottom: 0;
  padding: 50px;
  border-radius: 35px;
}

.main .left,
.main .right {
  width: 50%;
  height: 100%;
  padding: 30px;
}

.right {
  background-color: #99D9D9;
  border-radius: 16px;
  position: relative;
}

#theBill {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  color: #F74902;
}

#iBill {
  font-size: 24px;
  font-weight: 700;
  color: #E9072B;
  text-align: right;
  height: 60px;
  width: 92%;
  outline: 0;
  border: 0;
  border-radius: 7px;
  padding-left: 30px;
  padding-right: 30px;
  background: url(money.png) #F4FAFA no-repeat scroll 4% 50%;
  background-size: 5.0%;
}

#pTip {
  font-weight: 700;
  font-size: 24px;
  color: #001628;
  margin-bottom: 20px;
  margin-top: 40px;
}

.percentages {
  width: 92%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tipButtons {
  width: 30%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: 700;
  background: #00494D;
  border-radius: 8px;
  margin-bottom: 10px;
}

.tipButtons:hover {
  cursor: pointer;
  background: hsl(184, 14%, 56%);
}

.customTip {
  width: 30%;
  height: 60px;
  text-align: center;
  color: #001628;
  font-size: 24px;
  font-weight: 700;
  background: #99D9D9;
  border: 0;
  border-radius: 8px;
  outline: 0;
  margin-bottom: 10px;
}

.customTip:hover {
  cursor: pointer;
  background: white;
}

#NumberOfDiners {
  font-weight: 700;
  font-size: 24px;
  color: #E9072B;
  margin-top: 30px;
  margin-bottom: 20px;
}

#iNumberOfDiners {
  font-size: 24px;
  font-weight: 700;
  color: #001628;
  text-align: right;
  height: 60px;
  width: 92%;
  outline: 0;
  border: 0;
  border-radius: 7px;
  padding-left: 30px;
  padding-right: 30px;
  
}

.bill-splitter {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}

.bill-splitter h2 {
  color: #001628;
  font-size: 1.8rem;
}

.bill-splitter h1 {
  color: #001628;
  font-size: 4rem;
}

.bill-splitter h2 span {
  font-size: 1.4rem;
  color: #001628;
}

#resetButton {
  width: 92%;
  height: 4.5rem;
  background-color: hsl(186, 14%, 43%);
  color: #001628;
  border: solid;
  outline: none;
  border-radius: 1.0rem;
  font-family: inherit;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  transition: all 650ms ease;
  position: absolute;
  bottom: 34px;
}

#resetButton:hover {
  cursor: pointer;
  background-color: hsl(0, 0%, 100%);
}


